{{#each this}}
    <h2 class="header-name">{{name}}</h2>
    <div class="colums">
        <div class="description">
            <p>Capital:{{capital}}</p>
            <p>Population:{{population}}</p>
            <p>Languages: </p>
            <ul>
                {{#each languages}}
                <li>{{name}}</li>
                {{/each}}
            </ul>
        </div>
        <img src="{{flag}}" alt="{{name}}" width="600px" height="600px">
    </div>
{{/each}}
